.kommutativ_exchange .MathJax {
    transition: all 1s ease-in-out;
}

.hidden {
    visibility: hidden;
}

.left .MathJax{
    margin-left: 2%;
}

.right .MathJax{
    margin-left: 95%;
}

.alice .MathJax,
.alice.double .MathJax {
    margin-top: 2em;
}
.right .MathJax {
    margin-top: 5em;
    visibility: visible;
}

.alice .MathJax {
    margin-left: 2%;
    margin-top: 2em;
}
.right1.moveLeft .MathJax {
    right: auto;
    left: 2%;
    margin-top: 5em;
}