*, *:before, *:after {
    @include box-sizing(border-box);
}

.centering {
    text-align: center;
}

.bubble {
    background-color: #ffffff;
    color: #171717;
    @include border-radius(25px);
}

.connected {
    margin-bottom: 9em;
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        display: block;
        width: 90px;
        height: 66px;
        position: absolute;
        left: 50%;
        bottom: -4.5em;
        margin-left: -45px;
        margin-bottom: -33px;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTBweCIgaGVpZ2h0PSI2NnB4IiB2aWV3Qm94PSIwIDAgOTAgNjYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxsaW5lIHgxPSIxIiB5MT0iMjUiIHgyPSI5MCIgeTI9IjI1IiBzdHlsZT0ic3Ryb2tlOiNmZmY7c3Ryb2tlLXdpZHRoOjEiIC8+PGxpbmUgeDE9IjEiIHkxPSIyNSIgeDI9IjQ1LjUiIHkyPSI2NiIgc3R5bGU9InN0cm9rZTojZmZmO3N0cm9rZS13aWR0aDoxIiAvPjxsaW5lIHgxPSI5MCIgeTE9IjI1IiB4Mj0iNDUuNSIgeTI9IjY2IiBzdHlsZT0ic3Ryb2tlOiNmZmY7c3Ryb2tlLXdpZHRoOjEiIC8+PGxpbmUgeDE9IjEiIHkxPSIxIiB4Mj0iOTAiIHkyPSIxIiBzdHlsZT0ic3Ryb2tlOiNmZmY7c3Ryb2tlLXdpZHRoOjEiIC8+PGxpbmUgeDE9IjEiIHkxPSIxIiB4Mj0iNDUuNSIgeTI9IjQ2IiBzdHlsZT0ic3Ryb2tlOiNmZmY7c3Ryb2tlLXdpZHRoOjEiIC8+PGxpbmUgeDE9IjkwIiB5MT0iMSIgeDI9IjQ1LjUiIHkyPSI0NiIgc3R5bGU9InN0cm9rZTojZmZmO3N0cm9rZS13aWR0aDoxIiAvPjwvc3ZnPg==") no-repeat;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -9em;
        left: 50%;
        height: 9em;
        border-left: solid 1px #fff;
    }
}