figure, img {
    display: inline-block;
}

figure, img, .figure__container {
    max-height: 30em;
    width: auto;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    text-align: center;

    figcaption {
        position: absolute;
        font-family: sans-serif;
        font-size: .8em;
        bottom: .75em;
        left: .35em;
        padding: .25em;
        color: #fff;
        background: #000;
        background: rgba(0, 0, 0, .3);
        border-radius: 2px;

        a {
            color: #fff;
        }
    }
}

.slideshow {
    text-align: center;
    position: relative;
    margin: 0 auto;

    -webkit-transition: max-width 1.2s;
    transition: max-width 1.2s;
    max-width: 30em;

    .transition--off {
        opacity: 0;
        -webkit-transition: opacity 1.2s;
        transition: opacity 1.2s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: none;
    }

    .transition--on {
        opacity: 1;
        display: inline-block;
    }

    .figure__container {
        text-align: left;
        @extend .transition--off;
    }
    .figure__container.bss-show {
        @extend .transition--on;
    }

    .bss-next, .bss-prev {
        color: #fff;
        position: absolute;
        background: #000;
        background: rgba(0, 0, 0, .6);
        top: 50%;
        z-index: 4;
        font-size: 2em;
        margin-top: -1.2em;
        opacity: .3;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .bss-next:hover, .bss-prev:hover {
        cursor: pointer;
        opacity: 1;
    }

    .bss-next {
        right: 0;
        padding: 10px 5px 15px 10px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .bss-prev {
        left: 0;
        padding: 10px 10px 15px 5px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
