footer {
    color: #fff;
    a {
        color: #fff;
    }

    .about {
        border-top: 1px dashed #d2d2d2;
        font-size: 0.9em;
        padding-top: 1.6em;
        > div {
            float: left;
            width: 100%;
            margin: 0 1%;

            @include breakpoint($XL...) {
                width: 31%;
            }
        }
    }

    .nav {
        margin: 1em 0;
        text-align: center;
    }
}
