footer {
    color: #fff;
    a {
        color: #fff;
    }

    .about {
        border-top: solid 1px rgba(247,247,247,.5);
        border-bottom: solid 1px rgba(247,247,247,.5);
        font-size: 0.9em;
        padding-top: 1.6em;
        > div {
            float: left;
            margin: 0 1%;

            @include breakpoint($XL...) {
                width: 31%;
            }
        }
    }

    nav.bottomNavigation {
        text-align: center;
        .entry {
            padding: 1em;
        }
    }
}
