$susy: (
        columns: 12, // The number of columns in your grid
        gutters: 1/4, // The size of a gutter in relation to a single column
        global-box-sizing: border-box,
        use-custom: (rem: true),
        container: 60em
);

$breakpoint-no-query-fallbacks: true;
$XL: 600px;

@include border-box-sizing;

body {
    @include container;
    @include clearfix;
}

header,
footer {
    @include span(12);
    @include clearfix;
}

footer .about {
    .me {
        @include span(4 of 12);
    }
    .contents {
        @include span(4 of 12);
    }
    .sources {
        @include span(4 of 12 last);
    }
}