h1 {
    font-size: 2.6em;
    text-align: center;
    font-weight: 700;
    margin: 0;

    @include breakpoint($XL...) {
        font-size: 1.4em;
        margin-bottom: 0.6em;
    }
}

.header {
    margin: 0;
    text-align: center;
    position: relative;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #bbb;
        }
    }

    .logo {
        margin-top: 3em;
    }

    h1 {
        text-shadow: 1px 1px 1px #000;
        color: #fff;
    }

    h2 {
        font-style: italic;
        text-align: center;
        font-weight: 400;
        margin: 0.8em 0;
        font-size: 1.4em;
    }

    .description {
        font-size: 1.2em;
        font-style: italic;
        text-align: center;
        margin-top: -0.3em;
        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom: 0.6em;

        @include breakpoint($XL...) {
            font-size: 1em;
        }
    }

    .pagination {
        width: 100%;
        position: absolute;
        margin-top: -3em;
    }
}

.pagination {
    overflow: hidden;
    .next {
        float: left;
    }

    .prev {
        float: right;
    }
}