#articles {
    text-align: center;
}
.article.intro {
    margin-top: 10em;

    &:first-child {
        margin-top: 0;
    }

    padding-top: 2em;
    display: inline-block;
    text-align: center;

    background-color: #ffffff;
    

    max-width: 50em;
    width: 100%;
    @include breakpoint($XL...) {
        width: 80%;
    }

    .date {
        @include span(12);
    }
    img {
        width: 300px;
    }

    .image {
        @include span(12);
        @include breakpoint($XL...) {
            @include span(6 of 12);
        }
    }
    .content {
        @include clearfix;

        text-align: center;
        @include span(12);
        @include breakpoint($XL...) {
            text-align: left;
            @include span(6 of 12 last);
        }

        p {
            display: inline;
        }
        .more {
            text-decoration: underline;
            font-weight: 700;
            padding-left: 0.3em;
            display: block;
        }
    }
}

.more, .date {
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 400;
    text-rendering: auto;
    letter-spacing: 1px;
}