.article.intro {
    max-width: 50em;
    width: 100%;

    @include breakpoint($XL...) {
        width: 80%;

        .image {
            float: left;
            width: 50%;
        }
    }

    .content {
        @include clearfix;

        text-align: center;
        width: 100%;
        @include breakpoint($XL...) {
            padding-left: 1em;
            text-align: left;
            width: 50%;
        }

        .more {
            text-decoration: underline;
            font-weight: 700;
        }
    }
}

.more, .date {
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 400;
    text-rendering: auto;
    letter-spacing: 1px;
}

