@import "normalize";
@import "compass";
@import "breakpoint";
@import "susy";
@import "grid";
//@import "wintersmith-defaults";
//@import "better-simple-slideshow-styles";
@import "pagination";

/*more normalization*/
img,
figure{
    max-width: 100%;
}

/*text behavior*/

header {
    text-align: center;
}

.article.intro {
    text-align: center;
}