---
layout: page
title: Navigate by sight
---
{% include JB/setup %}

<div class="postslist_wrapper">
    <div class="postlist_layout">
    <div class="postslist">
        {% for post in site.posts %}<div class="post">
                {% if post.image %}{% include image img=post.image title=post.title %}{% endif %}
                <div class="text">
                    <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="excerpt">{{ post.excerpt | textilize }}</div>
                </div>
            </div>{% endfor %}
    </div>
    </div>
</div>