html,
body,
.game_area,
.content,
#images {
    margin: 0;
    padding: 0;
    background-color: #867976;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#images  {
    display: block;
}

.recommendation {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    margin: 2%;

    display: block;
    overflow: hidden;

    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    background: #eee;
    border: 1px solid rgba(96, 96, 96, 0.2);
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.control {
    z-index: 1000;
    position: absolute;
    bottom: 2%;
    width: 64px;
    height: 64px;
    background-size: cover;
}

.love {
    right: 5%;
}

.hate {
    left: 5%;
}

.love {
    background-image: url('love.fixed.png');
}

.love.active {
    background-image: url('love.fixed.png');
}

.hate {
    background-image: url('hate.fixed.png');
}

.hate.active {
    background-image: url('hate.fixed.png');
}


