body {
    margin: 0;
}

#game_area {
    text-align: center;
}

#game_area img {
    position: relative;
    width: 100%;
    height: auto;
}

#game_area #controls img {
    z-index: 1000;
    position: absolute;
    bottom: 2%;
    width: 20%;
    height: auto;
}

#love {
    right: 2%
}

#hate{
    left: 2%
}

img#back{
    top: 2%;
    left: 2%;
}

#fullscreen,
#fullscreen-exit {
    right: 40%;
}

#fullscreen-exit {
    display: none;
}

:-webkit-full-screen #fullscreen{
    display: none;
}

:-moz-full-screen #fullscreen{
    display: none;
}

:-ms-fullscreen #fullscreen{
    display: none;
}

:full-screen #fullscreen{ /*pre-spec */
    display: none;
}

:fullscreen #fullscreen{ /* spec */
    display: none;
}



:-webkit-full-screen #fullscreen-exit{
    display: block;
}

:-moz-full-screen #fullscreen-exit{
    display: block;
}

:-ms-fullscreen #fullscreen-exit{
    display: block;
}

:full-screen #fullscreen-exit{ /*pre-spec */
    display: block;
}

:fullscreen #fullscreen-exit{ /* spec */
    display: block;
}
