/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p484/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/_grid.scss */
.grid {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 7px;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p484/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.grid:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 28em) {
  /* line 27, ../sass/_grid.scss */
  .grid {
    padding: 0 15px;
  }
}

/* line 4, ../sass/_sizes.scss */
.sizeDisplayLOL .small, .sizeDisplayLOL .medium, .sizeDisplayLOL .large, .sizeDisplayLOL .extra_large {
  background-color: lightblue;
}
/* line 8, ../sass/_sizes.scss */
.sizeDisplayLOL .small {
  background-color: lightgreen;
}
@media (min-width: 28em) {
  /* line 13, ../sass/_sizes.scss */
  .sizeDisplayLOL .medium {
    background-color: lightgreen;
  }
}
@media (min-width: 48em) {
  /* line 19, ../sass/_sizes.scss */
  .sizeDisplayLOL .large {
    background-color: lightgreen;
  }
}
@media (min-width: 62em) {
  /* line 25, ../sass/_sizes.scss */
  .sizeDisplayLOL .extra_large {
    background-color: lightgreen;
  }
}

/* line 10, ../sass/seite.scss */
.largish {
  display: none;
}

@media (min-width: 48em) {
  /* line 15, ../sass/seite.scss */
  .largish {
    display: block;
  }

  /* line 18, ../sass/seite.scss */
  .smallish {
    display: none;
  }
}
