// Frameworks
@import "susy";
@import "breakpoint";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
// The Grid
@import "grid";
@import "variables";
@import "sizes";

.rwd_order.checkout {
  .paymentType {
    border-bottom: solid 1px black;
    position: relative;
    .next {
      position: absolute;
      right: 0px;
      top: 0px;
    } 
  }
}

@include susy-breakpoint($medium-width, $medium-cols) {
	.rwd_order.checkout {
	  
	} 
}

@include susy-breakpoint($large-width, $large-cols) {
	.rwd_order.checkout {
	  
	}  
}

@include susy-breakpoint($extra-large-width, $extra-large-cols) {
	.rwd_order.checkout {
	  
	}  
}


