@import "susy";
@import "breakpoint";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
// The Grid
@import "grid";
@import "variables";
@import "sizes";

.largish {
  display: none;
}

@include susy-breakpoint($large-width, $large-cols) {
  .largish {
    display: block;
  }
  .smallish {
    display: none;
  }
}
