@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin);

/*colors http://colorschemedesigner.com/#4162GgMrr5vgt*/
/*always good:*/
$white: #fff;
$black: #000;
$off_black: #685356;

/*** Primary Color: bluish*/
$p_main: #575499;
$p_dark: #565392;
$p_very_dark: #4B488F;
$p_light: #706DB3;
$p_very_light: #7875B3;

/*** Complementary Color: yellowish*/
$c_main: #DBBF68;
$c_dark: #D1B868;
$c_very_dark: #CDB259;
$c_light: #E4CB7C;
$c_very_light: #E4CE88;

/*semantic colors*/
$nav_bg: $p_main;
$nav_txt: $p_very_light;
$nav_txt_hover: $white;
$nav_brand: $c_main;

$col_dropdown_hover_bg: $p_main;
$dropdown_bg: $white;

$col_main_txt: $off_black;
$col_main_txt_bg: $white;

$col_button_bg: $p_main;
$col_button_txt: $c_main;
$col_button_hover: $white;

$col_link_txt: $c_main;
$col_header_txt: $p_very_dark;
$pageheader_line_color: $p_main;

$col_border: $black;
$postlist_tile_bg: $white;

body {
  color: $col_main_txt;
  background-color: $col_main_txt_bg;
  font-family: 'Cabin', Georgia, "Times New Roman", Times, serif;
}

#{headings()},
#{nest(headings(), a)} {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
  color: $col_header_txt;
  text-rendering: optimizeLegibility;
}

/*typography & vertical rhythm*/
@import "compass/typography/vertical_rhythm";
$base-font-size: 16px;
$base-line-height: 22px;
$relative-font-sizing: true;

@import "compass/layout/grid-background";
$grid-background-baseline-height: $base-line-height;
$show-column-grid-backgrounds: false;

html {
  @include establish-baseline;
}

.baseline {
  background-image: linear-gradient(hsla(200, 100%, 70%, .5) 1px, transparent 1px);
  background-size: auto rhythm(1, $base-font-size);
}

@mixin font($relation, $top: 1, $bottom: 1) {
  $px: $relation * $base-font-size;
  @include adjust-font-size-to($px);
  @include rhythm($top, 0, 0, $bottom, $px);
}

h1 {
  @include font(4, 0, 1);
  text-align: center;
}

h2 {
  @include font(2, 0, 0);
}

h3 {
  @include font(1.5, 0, 0);
}

p, blockquote, figcaption, ul {
  @include font(1, 0);
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

small {
  @include font(0.7, 0);
}

a {
  color: $col_link_txt;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*navbar*/
nav {

  .brand {
    color: $nav_brand;
  }

  ul {
    @include adjust-font-size-to(18px);
    margin-bottom: 1em;
    background-color: $nav_bg;
    list-style: none;
    display: inline-table;
    width: 100%;

    li {
      float: left;
    }
    li a {
      padding: rhythm(0.5, $base-font-size) 0.5em;
      display: block;
      color: $nav_txt;
    }

    li a:hover {
      color: $nav_txt_hover;
    }
  }
}

/*button*/
.btn {
  background-color: $col_button_bg;
  border: 1px solid $col_main_txt;
  color: $col_button_txt;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer
}

.btn:hover {
  color: $col_button_hover;
}

.btn:active {
  position: relative;
  top: 1px;
}

/*images*/
figure {
  line-height: 0;
  display: inline-block;
  border: solid 1px $col_border;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  text-align: center;
  margin: 0 1em 0 0;
  float: left;
}

/*specials for mainpage*/

.postslist_wrapper {
  text-align: center;
}

.postslist {
  display: inline-block;
  figure {
    float: none;
  }
}

@media screen and (min-width: 1024px) {
  .postslist {
    figure {
      height: rhythm(10, $base-font-size);
    }
    figure img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    .post {
      display: inline-block;
      width: 30%;
      padding: 0 1%;
      vertical-align: top;
      min-height: 30em;
      overflow: hidden;
      text-align: left;
    }
    .post h2 {
      clear: both;
    }
  }
}

@media screen and (max-width: 1024px) {
  .content {
    overflow: hidden;
  }
  .postslist {
    width: 100%;
    figure {
      height: 100%;
      margin: 0;
    }
    .post {
      display: block;
      width: auto;
      margin: 0;
      padding: rhythm(1, $base-font-size) 0;
      min-height: 0;
      overflow: visible;
      border-top: 1px solid $col_main_txt;
      text-align: left;
    }
    .post .text {
      display: inline-block;
      vertical-align: top;
      padding-left: 1%;
    }
    .post h2 {
      clear: none;
    }
  }
}

@media screen and (min-width: 1800px) {
  body {
    font-size: 150%;
  }
  .content {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1800px) {
  body {
    font-size: 100%;
  }
  .content {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  body {
    @include adjust-font-size-to(15px);
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  body {
    @include adjust-font-size-to(14px);
  }
  .content {
    margin: 0 2%;
  }
  .postslist figure img {
    width: rhythm(10, $base-font-size);
    height: rhythm(10, $base-font-size);
  }
  .post .text {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  body {
    @include adjust-font-size-to(12px);
  }
  #{headings(2, 6)},
  #{nest(headings(2, 6), a)} {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }
  .content {
    margin: 0;
  }
  figure {
    margin: 0;
  }
  .postslist figure img {
    width: rhythm(3, $base-font-size);
    height: rhythm(3, $base-font-size);
  }
  .post .text {
    width: 80%;
  }
  img {
    width: 800px;
    max-width: 100%;
  }
  .excerpt {
    display: none;
  }
}

