@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin);
/* line 17, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*colors http://colorschemedesigner.com/#4162GgMrr5vgt*/
/*always good:*/
/*** Primary Color: bluish*/
/*** Complementary Color: yellowish*/
/*semantic colors*/
/* line 49, ../../_sass/halfdane.scss */
body {
  color: #685356;
  background-color: white;
  font-family: 'Cabin', Georgia, "Times New Roman", Times, serif;
}

/* line 56, ../../_sass/halfdane.scss */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
  color: #4b488f;
  text-rendering: optimizeLegibility;
}

/*typography & vertical rhythm*/
/* line 61, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html * html {
  font-size: 100%;
}
/* line 64, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html html {
  font-size: 16px;
  line-height: 1.375em;
}

/* line 76, ../../_sass/halfdane.scss */
.baseline {
  background-image: linear-gradient(rgba(102, 204, 255, 0.5) 1px, transparent 1px);
  background-size: auto 1.375em;
}

/* line 87, ../../_sass/halfdane.scss */
h1 {
  font-size: 4em;
  line-height: 1.375em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.34375em;
  text-align: center;
}

/* line 92, ../../_sass/halfdane.scss */
h2 {
  font-size: 2em;
  line-height: 1.375em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 96, ../../_sass/halfdane.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.83333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 100, ../../_sass/halfdane.scss */
p, blockquote, figcaption, ul {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.375em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* line 108, ../../_sass/halfdane.scss */
small {
  font-size: 0.7em;
  line-height: 1.96429em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.96429em;
}

/* line 112, ../../_sass/halfdane.scss */
a {
  color: #dbbf68;
  text-decoration: none;
}

/* line 117, ../../_sass/halfdane.scss */
a:hover {
  text-decoration: underline;
}

/*navbar*/
/* line 124, ../../_sass/halfdane.scss */
nav .brand {
  color: #dbbf68;
}
/* line 128, ../../_sass/halfdane.scss */
nav ul {
  font-size: 1.125em;
  line-height: 1.22222em;
  margin-bottom: 1em;
  background-color: #575499;
  list-style: none;
  display: inline-table;
  width: 100%;
}
/* line 136, ../../_sass/halfdane.scss */
nav ul li {
  float: left;
}
/* line 139, ../../_sass/halfdane.scss */
nav ul li a {
  padding: 0.6875em 0.5em;
  display: block;
  color: #7875b3;
}
/* line 145, ../../_sass/halfdane.scss */
nav ul li a:hover {
  color: white;
}

/*button*/
/* line 152, ../../_sass/halfdane.scss */
.btn {
  background-color: #575499;
  border: 1px solid #685356;
  color: #dbbf68;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

/* line 164, ../../_sass/halfdane.scss */
.btn:hover {
  color: white;
}

/* line 168, ../../_sass/halfdane.scss */
.btn:active {
  position: relative;
  top: 1px;
}

/*images*/
/* line 174, ../../_sass/halfdane.scss */
figure {
  line-height: 0;
  display: inline-block;
  border: solid 1px black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 1em 0 0;
  float: left;
}

/*specials for mainpage*/
/* line 188, ../../_sass/halfdane.scss */
.postslist_wrapper {
  text-align: center;
}

/* line 192, ../../_sass/halfdane.scss */
.postslist {
  display: inline-block;
}
/* line 194, ../../_sass/halfdane.scss */
.postslist figure {
  float: none;
}

@media screen and (min-width: 1024px) {
  /* line 201, ../../_sass/halfdane.scss */
  .postslist figure {
    height: 13.75em;
  }
  /* line 204, ../../_sass/halfdane.scss */
  .postslist figure img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  /* line 210, ../../_sass/halfdane.scss */
  .postslist .post {
    display: inline-block;
    width: 30%;
    padding: 0 1%;
    vertical-align: top;
    min-height: 30em;
    overflow: hidden;
    text-align: left;
  }
  /* line 219, ../../_sass/halfdane.scss */
  .postslist .post h2 {
    clear: both;
  }
}
@media screen and (max-width: 1024px) {
  /* line 226, ../../_sass/halfdane.scss */
  .content {
    overflow: hidden;
  }

  /* line 229, ../../_sass/halfdane.scss */
  .postslist {
    width: 100%;
  }
  /* line 231, ../../_sass/halfdane.scss */
  .postslist figure {
    height: 100%;
    margin: 0;
  }
  /* line 235, ../../_sass/halfdane.scss */
  .postslist .post {
    display: block;
    width: auto;
    margin: 0;
    padding: 1.375em 0;
    min-height: 0;
    overflow: visible;
    border-top: 1px solid #685356;
    text-align: left;
  }
  /* line 245, ../../_sass/halfdane.scss */
  .postslist .post .text {
    display: inline-block;
    vertical-align: top;
    padding-left: 1%;
  }
  /* line 250, ../../_sass/halfdane.scss */
  .postslist .post h2 {
    clear: none;
  }
}
@media screen and (min-width: 1800px) {
  /* line 257, ../../_sass/halfdane.scss */
  body {
    font-size: 150%;
  }

  /* line 260, ../../_sass/halfdane.scss */
  .content {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1800px) {
  /* line 268, ../../_sass/halfdane.scss */
  body {
    font-size: 100%;
  }

  /* line 271, ../../_sass/halfdane.scss */
  .content {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  /* line 279, ../../_sass/halfdane.scss */
  body {
    font-size: 0.9375em;
    line-height: 1.46667em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  /* line 285, ../../_sass/halfdane.scss */
  body {
    font-size: 0.875em;
    line-height: 1.57143em;
  }

  /* line 288, ../../_sass/halfdane.scss */
  .content {
    margin: 0 2%;
  }

  /* line 291, ../../_sass/halfdane.scss */
  .postslist figure img {
    width: 13.75em;
    height: 13.75em;
  }

  /* line 295, ../../_sass/halfdane.scss */
  .post .text {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  /* line 301, ../../_sass/halfdane.scss */
  body {
    font-size: 0.75em;
    line-height: 1.83333em;
  }

  /* line 305, ../../_sass/halfdane.scss */
  h2, h3, h4, h5, h6,
  h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }

  /* line 309, ../../_sass/halfdane.scss */
  .content {
    margin: 0;
  }

  /* line 312, ../../_sass/halfdane.scss */
  figure {
    margin: 0;
  }

  /* line 315, ../../_sass/halfdane.scss */
  .postslist figure img {
    width: 4.125em;
    height: 4.125em;
  }

  /* line 319, ../../_sass/halfdane.scss */
  .post .text {
    width: 80%;
  }

  /* line 322, ../../_sass/halfdane.scss */
  img {
    width: 800px;
    max-width: 100%;
  }

  /* line 326, ../../_sass/halfdane.scss */
  .excerpt {
    display: none;
  }
}
