@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin);
/* line 17, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*colors http://colorschemedesigner.com/#4162GgMrr5vgt*/
/*always good:*/
/*** Primary Color: bluish*/
/*** Complementary Color: yellowish*/
/*semantic colors*/
/*typography*/
/* line 5, ../../_sass/typography.scss */
body {
  font-family: 'Cabin', Georgia, "Times New Roman", Times, serif;
}

/* line 10, ../../_sass/typography.scss */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 15, ../../_sass/typography.scss */
pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  overflow: auto;
  white-space: pre-wrap;
  /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important;
  /* 1999+ Mozilla  */
  white-space: -pre-wrap;
  /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;
  /* Opera 7 and up */
  word-wrap: break-word;
  /* IE 5.5+ and up */
}

/*vertical rhythm*/
/* line 61, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 131.25%;
}

/* line 64, ../../vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 21px;
  line-height: 1.2381em;
}

/* line 33, ../../_sass/typography.scss */
.baseline {
  font-size: 1em;
  line-height: 1.2381em;
  background-image: linear-gradient(rgba(102, 204, 255, 0.5) 1px, transparent 1px);
  background-size: auto 1.2381em;
}

/* line 45, ../../_sass/typography.scss */
h1 {
  font-size: 4.045em;
  line-height: 1.22432em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.30608em;
  text-align: center;
}

/* line 50, ../../_sass/typography.scss */
h2 {
  font-size: 3.236em;
  line-height: 1.1478em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 54, ../../_sass/typography.scss */
h3 {
  font-size: 2.427em;
  line-height: 1.5304em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* line 58, ../../_sass/typography.scss */
p, blockquote, figcaption, ul, pre, code {
  font-size: 1em;
  line-height: 1.2381em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.2381em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* line 66, ../../_sass/typography.scss */
small {
  font-size: 0.61805em;
  line-height: 2.00324em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2.00324em;
}

/* line 70, ../../_sass/typography.scss */
pre {
  padding: 0 0.8rem 0 1.2rem;
  border: 1px solid #ccc;
  border-left: 1rem solid #ccc;
  background-image: linear-gradient(transparent 1.2381em, #ececec 1.2381em);
  background-size: auto 2.48857em;
  background-position: 0 0.61905em;
  padding-top: 0.61905em;
  padding-bottom: 0.61905em;
}

/* line 5, ../../_sass/halfdane.scss */
body {
  color: #685356;
  background-color: white;
}

/* line 12, ../../_sass/halfdane.scss */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #4b488f;
  border: 0;
}

/* line 17, ../../_sass/halfdane.scss */
a {
  border-bottom: 1px dotted #000;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

/* line 24, ../../_sass/halfdane.scss */
a:hover {
  color: #dbbf68;
  border-bottom: 1px dotted #dbbf68;
}

/* line 29, ../../_sass/halfdane.scss */
.clearfix {
  clear: both;
}

/*navbar*/
/* line 36, ../../_sass/halfdane.scss */
nav .brand {
  color: #dbbf68;
}
/* line 40, ../../_sass/halfdane.scss */
nav ul {
  font-size: 1.2em;
  line-height: 2.06349em;
  margin-bottom: 0.61905em;
  background-color: #575499;
  list-style: none;
  display: inline-table;
  width: 100%;
}
/* line 49, ../../_sass/halfdane.scss */
nav ul li {
  float: left;
}
/* line 52, ../../_sass/halfdane.scss */
nav ul li a {
  padding: 0.20635em 0.5em;
  display: block;
  color: #7875b3;
}
/* line 58, ../../_sass/halfdane.scss */
nav ul li a:hover {
  color: white;
}

/*button*/
/* line 65, ../../_sass/halfdane.scss */
.btn {
  background-color: #575499;
  border: 1px solid #685356;
  color: #dbbf68;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

/* line 77, ../../_sass/halfdane.scss */
.btn:hover {
  color: white;
}

/* line 81, ../../_sass/halfdane.scss */
.btn:active {
  position: relative;
  top: 1px;
}

/*images*/
/* line 87, ../../_sass/halfdane.scss */
img {
  width: auto;
  max-height: 30%;
}

/* line 92, ../../_sass/halfdane.scss */
figure {
  line-height: 0;
  display: inline-block;
  border: solid 1px black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 1em 0 0;
  float: left;
  height: auto;
}

/*specials for mainpage*/
/* line 107, ../../_sass/halfdane.scss */
.postslist_wrapper {
  text-align: center;
}

/* line 111, ../../_sass/halfdane.scss */
.postslist {
  display: inline-block;
}
/* line 113, ../../_sass/halfdane.scss */
.postslist figure {
  float: none;
}

@media screen and (min-width: 1024px) {
  /* line 120, ../../_sass/halfdane.scss */
  .postslist figure {
    height: 12.38095em;
  }
  /* line 123, ../../_sass/halfdane.scss */
  .postslist figure img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  /* line 129, ../../_sass/halfdane.scss */
  .postslist .post {
    display: inline-block;
    width: 30%;
    padding: 0 1%;
    vertical-align: top;
    min-height: 30em;
    overflow: hidden;
    text-align: left;
  }
  /* line 138, ../../_sass/halfdane.scss */
  .postslist .post h2 {
    clear: both;
  }
}
@media screen and (max-width: 1024px) {
  /* line 145, ../../_sass/halfdane.scss */
  .content {
    overflow: hidden;
  }

  /* line 148, ../../_sass/halfdane.scss */
  .postslist {
    width: 100%;
  }
  /* line 150, ../../_sass/halfdane.scss */
  .postslist figure {
    height: 100%;
    margin: 0;
  }
  /* line 154, ../../_sass/halfdane.scss */
  .postslist .post {
    display: block;
    width: auto;
    margin: 0;
    padding: 1.2381em 0;
    min-height: 0;
    overflow: visible;
    border-top: 1px solid #685356;
    text-align: left;
  }
  /* line 164, ../../_sass/halfdane.scss */
  .postslist .post .text {
    display: inline-block;
    vertical-align: top;
    padding-left: 1%;
  }
  /* line 169, ../../_sass/halfdane.scss */
  .postslist .post h2 {
    clear: none;
  }
}
@media screen and (min-width: 1800px) {
  /* line 176, ../../_sass/halfdane.scss */
  body {
    font-size: 150%;
  }

  /* line 179, ../../_sass/halfdane.scss */
  .content {
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1800px) {
  /* line 187, ../../_sass/halfdane.scss */
  body {
    font-size: 100%;
  }

  /* line 190, ../../_sass/halfdane.scss */
  .content {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  /* line 198, ../../_sass/halfdane.scss */
  body {
    font-size: 0.71429em;
    line-height: 1.73333em;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
  /* line 204, ../../_sass/halfdane.scss */
  body {
    font-size: 0.66667em;
    line-height: 1.85714em;
  }

  /* line 207, ../../_sass/halfdane.scss */
  .content {
    margin: 0 2%;
  }

  /* line 210, ../../_sass/halfdane.scss */
  .postslist figure img {
    width: 12.38095em;
    height: 12.38095em;
  }

  /* line 214, ../../_sass/halfdane.scss */
  .post .text {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  /* line 220, ../../_sass/halfdane.scss */
  body {
    font-size: 0.57143em;
    line-height: 2.16667em;
  }

  /* line 224, ../../_sass/halfdane.scss */
  h2, h3, h4, h5, h6,
  h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }

  /* line 228, ../../_sass/halfdane.scss */
  .content {
    margin: 0;
  }

  /* line 231, ../../_sass/halfdane.scss */
  figure {
    margin: 0;
  }

  /* line 234, ../../_sass/halfdane.scss */
  .postslist figure img {
    width: 3.71429em;
    height: 3.71429em;
  }

  /* line 238, ../../_sass/halfdane.scss */
  .post .text {
    width: 80%;
  }

  /* line 241, ../../_sass/halfdane.scss */
  img {
    width: 800px;
    max-width: 100%;
  }

  /* line 245, ../../_sass/halfdane.scss */
  .excerpt {
    display: none;
  }
}
