
// Damit man überhaupt sieht, in welcher Größe wir gerade sind
.sizeDisplayLOL {
  .small, .medium, .large, .extra_large {
    background-color: lightblue;
  }
  
  .small {
    background-color: lightgreen;
  }

  @include susy-breakpoint($medium-width, $medium-cols) {
    .medium {
      background-color: lightgreen;
    }
  }

  @include susy-breakpoint($large-width, $large-cols) {
    .large {
    background-color: lightgreen;
    }
  }

  @include susy-breakpoint($extra-large-width, $extra-large-cols) {
    .extra_large {
      background-color: lightgreen;
    }
  }
}
