@import url(//fonts.googleapis.com/css?family=Lobster);
@import url(//fonts.googleapis.com/css?family=Cabin);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*** Complementary Color: yellowish*/
/*semantic colors*/
/*typography*/
body {
  font-family: 'Cabin', Georgia, "Times New Roman", Times, serif; }

h1, h2, h3, h4, h5,
h1 a, h2 a, h3 a, h4 a, h5 a {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility; }

code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  overflow: auto;
  white-space: pre-wrap;
  /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important;
  /* 1999+ Mozilla  */
  white-space: -pre-wrap;
  /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;
  /* Opera 7 and up */
  word-wrap: break-word;
  /* IE 5.5+ and up */
  display: inline-block; }

/*vertical rhythm*/
* html {
  font-size: 131.25%; }

html {
  font-size: 21px;
  line-height: 1.2381em; }

.baseline {
  background-image: linear-gradient(rgba(102, 204, 255, 0.5) 1px, transparent 1px);
  background-size: auto 26px; }

h1 {
  font-size: 4.045em;
  line-height: 1.22432em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center; }

h2 {
  font-size: 2.61792em;
  line-height: 1.41879em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center; }

h3 {
  font-size: 1.9416em;
  line-height: 1.27534em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em; }

h4, h6 {
  font-size: 1.618em;
  line-height: 1.5304em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center; }

p, blockquote, ul, pre {
  font-size: 1em;
  line-height: 1.2381em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.2381em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

hr {
  margin: -1px; }

small, .pagination, figcaption {
  font-size: 0.8em;
  line-height: 1.54762em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.54762em; }

pre {
  padding: 0 0.8rem 0 1.2rem;
  border: 1px solid #ccc;
  border-left: 1rem solid #ccc;
  background-image: linear-gradient(transparent 26px, #ececec 26px);
  background-size: auto 52px;
  background-position: 0 13px;
  padding-top: 13px;
  padding-bottom: 13px; }

ol, ul {
  list-style: square;
  margin-left: 1em; }

img {
  max-width: 100%;
  height: auto; }

figure,
.slideshow {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.61905em;
  line-height: 0; }
  figure img,
  .slideshow img {
    width: 100%; }
  figure img[src="/assets/img/loader.gif"],
  .slideshow img[src="/assets/img/loader.gif"] {
    width: auto; }
  figure *,
  .slideshow * {
    margin: 0; }
  figure figure,
  .slideshow figure {
    box-shadow: none;
    margin: 0; }
  figure figcaption,
  .slideshow figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.70;
    background: white;
    width: 100%;
    height: auto; }
  figure.p10,
  .slideshow.p10 {
    max-width: 5em; }
  figure.p20,
  .slideshow.p20 {
    max-width: 10em; }
  figure.p30,
  .slideshow.p30 {
    max-width: 20em; }
  figure.p40,
  .slideshow.p40 {
    max-width: 25em; }
  figure.p50,
  .slideshow.p50 {
    max-width: 30em; }
  figure.left,
  .slideshow.left {
    float: left;
    margin: 0;
    margin-right: 1em; }
  figure.right,
  .slideshow.right {
    float: right;
    margin: 0;
    margin-left: 1em; }

.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%; }

.swipe-wrap > * {
  float: left;
  width: 100%;
  position: relative; }

.mfp-title {
  background: black;
  bottom: 4px;
  position: absolute; }

.postslist_wrapper {
  text-align: center; }

/*some computer monitor*/
.postslist {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(0deg, #eeeeee 0.61905em, transparent 0.61905em, transparent 99%);
  background-image: -moz-linear-gradient(0deg, #eeeeee 0.61905em, transparent 0.61905em, transparent 99%);
  background-image: -webkit-linear-gradient(0deg, #eeeeee 0.61905em, transparent 0.61905em, transparent 99%);
  border-bottom: 0.61905em solid #eeeeee;
  border-right: 0.61905em solid #eeeeee;
  box-shadow: 0px 0px 0.30952em #d6d6d6;
  border-radius: 0.30952em;
  margin: 0.30952em;
  /*large screen*/
  /*small screen*/
  /*very small screen*/ }
  .postslist figure {
    display: inline-block;
    text-align: center;
    float: none;
    margin: 0; }
    .postslist figure img {
      width: auto;
      height: 12.38095em; }
  .postslist .post {
    display: block;
    margin: 0;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.2381em 0.61905em 0.61905em 1.2381em;
    border-top: 0.30952em solid #eeeeee; }
  .postslist .post .text {
    vertical-align: top;
    text-align: left; }
    .postslist .post .text figure {
      display: none; }
  @media screen and (min-width: 74.28571em) {
    .postslist:nth-child(-n+1) {
      background-size: 33.33333% 100px; }
      .postslist:nth-child(-n+1) .postlist_layout {
        font-size: 0; }
      .postslist:nth-child(-n+1) .post {
        text-align: center;
        display: inline-block;
        width: 33.33333%; }
        .postslist:nth-child(-n+1) .post * html {
          font-size: 131.25%; }
        .postslist:nth-child(-n+1) .post html {
          font-size: 21px;
          line-height: 1.2381em; }
      .postslist:nth-child(-n+1) .post:nth-child(3n+1):before {
        content: '';
        position: absolute;
        margin-top: -1.2381em;
        display: block;
        left: 0;
        right: -0.61905em;
        border-top: 0.61905em solid #eeeeee;
        border-radius: 0.30952em; } }
  .postslist:nth-child(n+2) {
    background-size: 100% 100px; }
    .postslist:nth-child(n+2) .postlist_layout {
      font-size: 0; }
    .postslist:nth-child(n+2) .post {
      text-align: left;
      display: inline-block;
      width: 100%; }
      .postslist:nth-child(n+2) .post * html {
        font-size: 131.25%; }
      .postslist:nth-child(n+2) .post html {
        font-size: 21px;
        line-height: 1.2381em; }
    .postslist:nth-child(n+2) .post:nth-child(1n+1):before {
      content: '';
      position: absolute;
      margin-top: -1.2381em;
      display: block;
      left: 0;
      right: -0.61905em;
      border-top: 0.61905em solid #eeeeee;
      border-radius: 0.30952em; }
    .postslist:nth-child(n+2) figure {
      max-width: 20%;
      height: auto;
      display: inline-block;
      margin: 0; }
      .postslist:nth-child(n+2) figure img {
        height: auto; }
    .postslist:nth-child(n+2) .post .text {
      display: inline-block;
      padding-left: 1%;
      max-width: 78%; }
  @media screen and (max-width: 74.28571em) {
    .postslist:nth-child(-n+1) {
      background-size: 50% 100px; }
      .postslist:nth-child(-n+1) .postlist_layout {
        font-size: 0; }
      .postslist:nth-child(-n+1) .post {
        text-align: center;
        display: inline-block;
        width: 50%; }
        .postslist:nth-child(-n+1) .post * html {
          font-size: 131.25%; }
        .postslist:nth-child(-n+1) .post html {
          font-size: 21px;
          line-height: 1.2381em; }
      .postslist:nth-child(-n+1) .post:nth-child(2n+1):before {
        content: '';
        position: absolute;
        margin-top: -1.2381em;
        display: block;
        left: 0;
        right: -0.61905em;
        border-top: 0.61905em solid #eeeeee;
        border-radius: 0.30952em; } }
  @media screen and (max-width: 61.90476em) {
    .postslist:nth-child(-n+1) {
      background-size: 100% 100px; }
      .postslist:nth-child(-n+1) .postlist_layout {
        font-size: 0; }
      .postslist:nth-child(-n+1) .post {
        text-align: left;
        display: inline-block;
        width: 100%; }
        .postslist:nth-child(-n+1) .post * html {
          font-size: 131.25%; }
        .postslist:nth-child(-n+1) .post html {
          font-size: 21px;
          line-height: 1.2381em; }
      .postslist:nth-child(-n+1) .post:nth-child(1n+1):before {
        content: '';
        position: absolute;
        margin-top: -1.2381em;
        display: block;
        left: 0;
        right: -0.61905em;
        border-top: 0.61905em solid #eeeeee;
        border-radius: 0.30952em; }
      .postslist:nth-child(-n+1) figure {
        max-width: 20%;
        height: auto;
        display: inline-block;
        margin: 0; }
        .postslist:nth-child(-n+1) figure img {
          height: auto; }
      .postslist:nth-child(-n+1) .post .text {
        display: inline-block;
        padding-left: 1%;
        max-width: 78%; } }
  @media screen and (max-width: 49.52381em) {
    .postslist .excerpt {
      display: none; } }

@media screen and (max-width: 49.52381em) {
  h1 {
    font-size: 1.618em;
    line-height: 1.5304em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em; }

  h2 {
    font-size: 1.2em;
    line-height: 2.06349em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em; }

  h3 {
    font-size: 1.1em;
    line-height: 2.25108em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em; }

  h2, h3, h4, h5, h6,
  h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Cabin', Helvetica, Arial, sans-serif; } }
.content {
  max-width: 1550px; }

@media screen and (max-width: 1550px) {
  .content {
    margin: 0 2%; } }
@media screen and (min-width: 1550px) {
  .content {
    margin: 0 auto; } }
nav .brand {
  color: #dfc771; }
nav ul {
  font-size: 1.2em;
  line-height: 2.06349em;
  margin: 0 0 0.61905em 0;
  font-weight: lighter;
  background-color: darkblue;
  list-style: none;
  display: inline-table;
  width: 100%; }
  nav ul li {
    float: left; }
  nav ul li a {
    padding: 0.20635em 0.5em;
    display: block;
    color: #7f7fc5; }
  nav ul li a:hover {
    color: white; }

.pagination ul {
  list-style: none;
  text-align: center; }
.pagination .next {
  float: left; }
.pagination li {
  display: inline-block; }
.pagination .prev {
  float: right; }
.pagination hr {
  clear: both; }

.fullpost {
  max-width: 50em;
  margin: auto;
  /*
    @include experimental(column-count, 2);
    @include experimental(column-gap, 40px);
    @include experimental(column-rule, 2px dotted red);
  
    figure {
      @include experimental(column-span, all);
    }
    */ }

body {
  color: #685356;
  background-color: white; }

.post {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: darkblue;
  font-weight: normal; }

a {
  font-weight: 600; }

p:empty {
  display: none; }

.clearfix {
  clear: both; }

.hidden {
  visibility: hidden; }

/*button*/
.btn {
  background-color: darkblue;
  color: #dfc771;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

.btn:hover {
  color: white; }

.btn:active {
  position: relative;
  top: 1px; }
