@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body, body *, * {
  font-family: 'Cabin'; }

h1, h2, h3, h4, h5 {
  font-family: 'Lobster'; }

code, code * {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

html {
  font-size: 131.25%;
  line-height: 1.2381em; }

.baseline {
  background-image: linear-gradient(rgba(102, 204, 255, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: auto 26px; }

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal; }

h1 {
  font-size: 2.5em;
  line-height: 1.48571em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center; }

h2 {
  font-size: 1.618em;
  line-height: 1.5304em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center; }

h3 {
  font-size: 1.5em;
  line-height: 1.65079em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em; }

h4 {
  font-size: 1.4em;
  line-height: 1.76871em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center; }

h6 {
  font-size: 1em;
  line-height: 1.2381em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center; }

p, blockquote, ul, pre {
  font-size: 1em;
  line-height: 1.2381em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.2381em;
  font-size: 1rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

a {
  font-weight: 600; }

hr {
  margin: -1px; }

small, .pagination, figcaption, .date {
  font-size: 0.8em;
  line-height: 1.54762em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.54762em; }

big {
  font-size: 120%; }

.date {
  text-align: center;
  font-style: italic; }

ol, ul {
  margin-left: 1em; }

ol {
  list-style: decimal; }

ul {
  list-style: square; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

pre {
  counter-reset: line-numbering;
  border: solid 1px #eee;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  white-space: pre;
  overflow-x: auto;
  overflow-y: hidden;
  word-break: inherit;
  word-wrap: inherit; }

code a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.6;
  display: inline-block;
  color: #aaa;
  background: #eee;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 70%;
  border-right: 1px solid #dedede;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

code a:first-of-type::before {
  padding-top: 0.5em; }

code a:last-of-type::before {
  padding-bottom: 0.5em; }

code a:only-of-type::before {
  padding-bottom: 0.5em;
  padding-top: 0.5em; }

code.inline-code {
  background: #eee;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word; }

.tilelist {
  vertical-align: top;
  text-align: center;
  display: inline-block; }
  .tilelist .tile {
    display: inline-block;
    overflow: hidden;
    margin: 0.61905em 1%;
    vertical-align: top;
    border: 1px solid #eee;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
    text-align: left;
    position: relative; }
  .tilelist .text {
    padding: 0 0.61905em 0.61905em 1.2381em; }
  .tilelist .post {
    padding-bottom: 1.2381em;
    cursor: pointer; }
    .tilelist .post:hover:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2); }
    .tilelist .post * {
      pointer-events: none; }
    .tilelist .post figure {
      max-width: 100%; }
      .tilelist .post figure img {
        width: 100%;
        height: 12.38095em; }
    .tilelist .post .text figure {
      display: none; }
    .tilelist .post .postlink {
      text-align: center;
      background-color: #9b9a99;
      width: 100%;
      position: absolute;
      bottom: 0;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4); }
  .tilelist .cloud {
    padding: 0.61905em;
    width: 95%; }

.tilelist_posts {
  display: inline-block;
  width: 79%; }

.categories {
  display: inline-block;
  width: 20%;
  vertical-align: top; }
  .categories ul {
    display: block;
    margin: 0; }
  .categories li {
    padding: 0;
    margin: 0.5em 0 0 0;
    list-style: none; }
  .categories li a {
    background-color: #9b9a99;
    display: block;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
    padding-left: 1em; }
  .categories li li {
    margin: 0;
    border: 1px solid #eee;
    padding: 0.5em 0 0 10%; }
    .categories li li a {
      background-color: transparent;
      box-shadow: none;
      width: 90%; }
  .categories li li:hover {
    background-color: #eee; }

.content {
  margin: 0 2%; }

.post {
  width: 30%; }

/*small screen*/
@media screen and (max-width: 86.66667em) {
  .post {
    width: 45%; } }
/*very small screen*/
@media screen and (max-width: 61.90476em) {
  .content {
    margin: 0 1ex; }

  .post {
    width: 100%; }

  .tile {
    margin: 0.61905em 0; }

  .categories {
    display: none; }

  .tilelist_posts {
    width: 100%; } }
