img {
  max-width: 100%;
  height: auto; }

figure,
.slideshow {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.61905em;
  line-height: 0; }
  figure img,
  .slideshow img {
    width: 100%; }
  figure img[src="/assets/img/loader.gif"],
  .slideshow img[src="/assets/img/loader.gif"] {
    width: auto; }
  figure *,
  .slideshow * {
    margin: 0; }
  figure figure,
  .slideshow figure {
    box-shadow: none;
    margin: 0; }
  figure figcaption,
  .slideshow figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.70;
    background: #fff;
    width: 100%;
    height: auto; }
  figure.p10,
  .slideshow.p10 {
    max-width: 5em; }
  figure.p20,
  .slideshow.p20 {
    max-width: 10em; }
  figure.p30,
  .slideshow.p30 {
    max-width: 20em; }
  figure.p40,
  .slideshow.p40 {
    max-width: 25em; }
  figure.p50,
  .slideshow.p50 {
    max-width: 30em; }
  figure.left,
  .slideshow.left {
    float: left;
    margin: 0;
    margin-right: 1em; }
  figure.right,
  .slideshow.right {
    float: right;
    margin: 0;
    margin-left: 1em; }

.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%; }

.swipe-wrap > * {
  float: left;
  width: 100%;
  position: relative; }

.mfp-title {
  background: black;
  bottom: 4px;
  position: absolute; }

.fullpost {
  max-width: 50em;
  margin: auto; }
  .fullpost .seriesNote {
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    padding-top: 0.5em;
    border: 1px solid #eee; }
    .fullpost .seriesNote p, .fullpost .seriesNote ul {
      margin-left: 1em;
      margin-bottom: 0; }
    .fullpost .seriesNote ul {
      margin-left: 5em; }

.text p:nth-of-type(1):first-letter {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: bold;
  /*keep the same family, but use the bold weight*/
  float: left;
  /*make it hang left*/
  padding: 0 0.1em 0 0;
  /*pad it out slightly*/ }

.small_picture_demo {
  height: 10em; }

.picture_demo {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.panel {
  float: left;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -ms-perspective: 600;
  -o-perspective: 600;
  perspective: 600; }
  .panel .front, .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .panel .front {
    z-index: 900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg); }
  .panel .back {
    z-index: 800;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .panel.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .panel.flip .back {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg); }

nav .brand {
  color: #dfc771; }
nav ul {
  font-size: 1.2em;
  line-height: 2.06349em;
  margin: 0 0 0.61905em 0;
  font-weight: lighter;
  background-color: #fff;
  list-style: none;
  display: inline-table;
  width: 100%; }
  nav ul li {
    float: left; }
  nav ul li a {
    padding: 0.20635em 0.5em;
    display: block;
    color: #9b9a99; }
  nav ul li a:hover {
    color: #fff; }

.pagination ul {
  list-style: none;
  text-align: center; }
.pagination .next {
  float: left; }
.pagination li {
  display: inline-block; }
.pagination .prev {
  float: right; }
.pagination hr {
  clear: both; }
.pagination .nextTitle, .pagination .prevTitle {
  display: inline; }
.pagination .nextWord, .pagination .prevWord {
  display: none; }
@media screen and (max-width: 61.90476em) {
  .pagination .nextTitle, .pagination .prevTitle {
    display: none; }
  .pagination .nextWord, .pagination .prevWord {
    display: inline; } }

body {
  color: #685356;
  background-color: #fff; }

.post {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  color: #373633; }

p:empty {
  display: none; }

.clearfix {
  clear: both; }

.hidden {
  display: none; }

/*button*/
.btn {
  background-color: #373633;
  color: #dfc771;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

.btn:hover {
  color: #fff; }

.btn:active {
  position: relative;
  top: 1px; }

.chromeframe {
  text-align: center;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }
