{% if page.series != nil %}

    {% assign count = '0' %}
    {% assign idx = '0' %}
    {% for post in site.posts reversed %}
        {% if post.series == page.series %}
            {% capture count %}{{ count | plus: '1' }}{% endcapture %}
            {% if post.url == page.url %}
                {% capture idx %}{{count}}{% endcapture %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if count != '0' && post.series != '' %}
    <div class="seriesNote">
        <p>Dieser Artikel ist <strong>Teil {{ idx }}</strong> einer <strong>{{ count }}-teiligen</strong> Serie:</p>
        <ul>
            {% assign count = '0' %}
            {% for post in site.posts reversed %}
            {% if post.series == page.series %}
            {% capture count %}{{ count | plus: '1' }}{% endcapture %}
            <li>Teil {{ count }}: {% if page.url == post.url %}Dieser Artikel{% else %}<a href="{{post.url}}">{{post.title}}</a>{% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% assign count = nil %}
    {% assign idx = nil %}
{% endif %}