.pagination ul {
    list-style: none;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.pagination .next {
    float: right;
}

.pagination .prev {
    float: left;
}

.pagination li {
    display: inline-block;
}