extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header

block content
  - var articles = env.helpers.getArticles(contents);
  - var articlesTitles = _.map(articles, function(value, key, list) {
  -       return value.metadata.title;
  - });
  - var thisPageIndex = articlesTitles.indexOf(page.title);
  - var prevArticle = articles[thisPageIndex+1];
  - var nextArticle = articles[thisPageIndex-1];
  mixin postNavigation(prevArticle, nextArticle)
  article.connected.bubble.article
    h1= page.title
    section.content.lazycontent!= typogr(page.html).typogrify()

block prepend footer
  mixin postNavigation(prevArticle, nextArticle)
  if (! locals.hideComments)
    div(id="disqus_thread").connected
    script(type="text/javascript").
      var disqus_shortname = 'halfdane'; // required: replace example with your forum shortname
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    noscript
      | Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    a(href="http://disqus.com" class="dsq-brlink")
      | blog comments powered by <span class="logo-disqus">Disqus</span></a>
