ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
    margin-top: 0px
}

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    line-height: 1.8em;
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', Georgia, Times, serif;
}

h1 {
    font-size: 6em;
    line-height: 1em;
}

h2 {
    font-size: 3em;
    line-height: 0.8em;
}

h3 {
    font-size: 2.4em;
    line-height: 0.7em;
}

h4 {
    font-size: 1.4em;
}

ul.postslist {
    list-style: none;
}

figure {
    display: inline-block;
    border: solid 1px #000;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    text-align: center;
}

img,
object {
    max-width: 100%;
}