<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- Le styles -->
    {% css_asset_tag global %}
    - /_assets/css/jquery.swipeshow.css
    - /_assets/scss/halfdane.scss
    - /_assets/css/syntax.css
    {% endcss_asset_tag %}

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <script src='/assets/js/jquery.swipeshow.min.js'></script>
    <script>$(function() {
        $(".swipeshow").swipeshow();
    });</script>
    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate"
          title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate"
          title="Sitewide RSS Feed">

</head>

<body>

<nav>
    <div class="menu">
        <ul>
            <li>
                <a class="brand" href="{{ HOME_PATH }}"><span class="title">{{ site.title }}</span><span
                        class="tagline"> - {{ site.tagline }}</span></a>
            </li>
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
        </ul>
    </div>
</nav>

<div class="container">

    <div class="content">
        {{ content }}
    </div>
    <hr>
    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
    </footer>

</div>

{% include JB/analytics %}
</body>
</html>
