<div class="pagination">
    <ul>
        {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}"
                            title="{{ page.next.title }}">&larr; {{ page.next.title }}</a></li>
        {% endif %}
        {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}"
                            title="{{ page.previous.title }}">{{ page.previous.title }} &rarr;</a></li>
        {% endif %}
    </ul>
</div>

<h1>{{ page.title }} {% if page.tagline %}
    <small>{{page.tagline}}</small>
    {% endif %}
</h1>

<p class="date">
    <small>{{ page.date | date_to_long_string }}</small>
</p>
<div class="content">
    {{ content }}
</div>

<div class="pagination">
    <hr>
    <ul>
        {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}"
                            title="{{ page.next.title }}">&larr; {{ page.next.title }}</a></li>
        {% endif %}
        {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}"
                            title="{{ page.previous.title }}">{{ page.previous.title }} &rarr;</a></li>
        {% endif %}
    </ul>
    <hr>
</div>
{% include JB/comments %}