@import "compass/typography/vertical_rhythm";

@import "variables";

@import "figure";
@import "post";
@import "flipper";
@import "navi";


body {
  color: $col_main_txt;
  background-color: $col_main_txt_bg;
}

.post {
  margin: 0 auto;
}

#{headings()} {
  color: $col_header_txt;
}

p:empty {
  display: none;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

/*button*/
.btn {
  background-color: $col_button_bg;
  color: $col_button_txt;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer
}

.btn:hover {
  color: $col_button_hover;
}

.btn:active {
  position: relative;
  top: 1px;
}


.chromeframe {
  text-align: center;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}