@import "compass/utilities/color/contrast";
$white: #fff;
$black: #000;
$off_black: #685356;
$gray: #eee;

$p_main: #373633;
$p_very_light: tint($p_main, 50%);

$c_main: shade(#F8DE7E, 10%);

$nav_bg: $white;
$nav_txt: $p_very_light;
$nav_txt_hover: $white;
$nav_brand: $c_main;

$col_main_txt: $off_black;
$col_main_txt_bg: $white;

$col_button_bg: $p_main;
$col_button_txt: $c_main;
$col_button_hover: $white;

$col_link_decoration: $p_main;
$col_header_txt: $p_main;
$pageheader_line_color: $p_main;

$col_border: $black;

$postlist_border: $gray;


