img {
  max-width: 100%;
  height: auto;
}

figure {
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  line-height: 0;
  @include trailer(0.5, $base-font-size);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);

  img {
    width: 100%;
  }

  figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    opacity: 0.70;
    background: $white;
    width: 100%;
    p {
      margin: 0;
    }
  }
}

figure,
.slideshow {
  &.p20 {
    max-width: 10em;
  }
  &.p30 {
    max-width: 20em;
  }
  &.p50 {
    max-width: 30em;
  }
  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.slideshow {
  margin: 0 auto;
  @include trailer(0.5, $base-font-size);

  figure {
    box-shadow: 0;
    margin: 0;
  }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > * {
  float:left;
  width:100%;
  position: relative;
}