img {
  max-width: 100%;
  height: auto;
}

figure.left {
  margin: 0 rhythm(1, $base-font-size) 20px 0;
  float: left;
}

figure.right {
  margin: 0 0 20px rhythm(1, $base-font-size);
  float: right;
}

figure.p30 {
  max-width: 30%;
}
figure.p50 {
  max-width: 50%;
}

figure {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 rhythm(1, $base-font-size) 20px 0;
  height: auto;
  @include leader(0.2, $base-font-size);
  overflow: hidden;
  line-height: 0;

  figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.70;
    background: $black;
    background: rgba(0, 0, 0, 0.70);
    color: white;
    width: 100%;
    p {
      margin: 0;
    }
  }
}

.swipeshow {
  height: rhythm(10, $base-font-size);
  max-width: rhythm(21, $base-font-size);
  margin: 0;

  img {
    width: 100%;
  }

}