img {
  max-width: 100%;
  height: auto;
}

figure.p30 {
  max-width: 30%;
}
figure.p50 {
  max-width: 50%;
}

figure {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: auto;
  height: rhythm(10, $base-font-size);
  max-width: rhythm(21, $base-font-size);
  @include leader(1, $base-font-size);
  @include trailer(1, $base-font-size);
  overflow: hidden;
  line-height: 0;

  img {
    width: 100%;
  }

  figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.70;
    background: $black;
    background: rgba(0, 0, 0, 0.70);
    color: white;
    width: 100%;
    p {
      margin: 0;
    }
  }
}

.swipeshow {
  height: rhythm(10, $base-font-size);
  max-width: rhythm(21, $base-font-size);
  margin: auto;
  @include leader(1, $base-font-size);
  @include trailer(1, $base-font-size);

  &:after {
    content: "";
    clear: both;
  }
}