@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=9LpJGtNuM1D8FAZ2BkJH2Q') format('truetype');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: normal;
  src: local('Tangerine'), url('http://themes.googleusercontent.com/font?kit=DTPeM3IROhnkz7aYG2a9sA') format('truetype');
}
.lobster { font-family: 'Lobster', arial, serif;}
.tangerine{ font-family: 'Tangerine', serif; font-size: 36px}

//
//
//@font-face {
//  font-family: 'Cabin';
//  src: url('/assets/fonts/cabin-webfont.eot');
//  src: url('/assets/fonts/cabin-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/fonts/cabin-webfont.woff') format('woff'),
//  url('/assets/fonts/cabin-webfont.ttf') format('truetype'),
//  url('/assets/fonts/cabin-webfont.svg#cabinregular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//
//}
//
//@font-face {
//  font-family: 'Lobster';
//  src: url('/assets/fonts/lobster-webfont.eot');
//  src: url('/assets/fonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
//  url('/assets/fonts/lobster-webfont.woff') format('woff'),
//  url('/assets/fonts/lobster-webfont.ttf') format('truetype'),
//  url('/assets/fonts/lobster-webfont.svg') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
