@import "compass/reset";
@import "colors";
@import "typography";
@import "figure";
@import "postlist";
@import "navi";
@import "post";

body {
  color: $col_main_txt;
  background-color: $col_main_txt_bg;
}

.post {
  margin: 0 auto;
}

#{headings()},
#{nest(headings(), a)} {
  color: $col_header_txt;
  font-weight: normal;
}

a {
  font-weight: 600;
}

p:empty {
  display: none;
}

.clearfix {
  clear: both;
}

.hidden {
  visibility: hidden;
}

/*button*/
.btn {
  background-color: $col_button_bg;
  border: 1px solid $col_main_txt;
  color: $col_button_txt;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer
}

.btn:hover {
  color: $col_button_hover;
}

.btn:active {
  position: relative;
  top: 1px;
}
