@import "compass/reset";
@import "colors";
@import "typography";
@import "figure";
@import "postlist";
@import "navi";

body {
  color: $col_main_txt;
  background-color: $col_main_txt_bg;
}

.post {
  margin: 0 15%;
}

#{headings()},
#{nest(headings(), a)},
#{nest(headings(), "a:hover")} {
  color: $col_header_txt;
  border: 0;
  font-weight: inherit;
}

a {
  color: $col_main_txt;
  border-bottom: 1px dotted $col_link_decoration;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  border-bottom: 1px dotted $col_link_decoration;
}

.clearfix {
  clear: both;
}

/*button*/
.btn {
  background-color: $col_button_bg;
  border: 1px solid $col_main_txt;
  color: $col_button_txt;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer
}

.btn:hover {
  color: $col_button_hover;
}

.btn:active {
  position: relative;
  top: 1px;
}
