@import "compass/reset";
@import "colors";
@import "typography";
@import "figure";
@import "postlist";

body {
  color: $col_main_txt;
  background-color: $col_main_txt_bg;
}

#{headings()},
#{nest(headings(), a)},
#{nest(headings(), "a:hover")} {
  color: $col_header_txt;
  border: 0;
  font-weight: inherit;
}

a {
  color: $col_main_txt;
  border-bottom: 1px dotted $col_link_decoration;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  border-bottom: 1px dotted $col_link_decoration;
}

.clearfix {
  clear: both;
}

/*navbar*/
nav {
  .brand {
    color: $nav_brand;
  }

  ul {
    $local_fontsize: 1.2 * $base-font-size;
    @include adjust-font-size-to($local_fontsize);
    margin: 0 0 rhythm(0.6, $local_fontsize) 0;
    font-weight: lighter;
    background-color: $nav_bg;
    list-style: none;
    display: inline-table;
    width: 100%;

    li {
      float: left;
    }
    li a {
      padding: rhythm(0.2, $local_fontsize) 0.5em;
      display: block;
      color: $nav_txt;
    }

    li a:hover {
      color: $nav_txt_hover;
    }
  }
}

.pagination {
  ul {
    list-style: none;
  }
  .next {
    float: left;
  }
  .prev {
    float: right;
  }
  hr {
    clear: both;
  }
}

/*button*/
.btn {
  background-color: $col_button_bg;
  border: 1px solid $col_main_txt;
  color: $col_button_txt;
  text-indent: 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer
}

.btn:hover {
  color: $col_button_hover;
}

.btn:active {
  position: relative;
  top: 1px;
}

/*images*/
img {
  width: auto;
  max-height: rhythm(10, $base-font-size);
  height: rhythm(10, $base-font-size);
}
