@import "compass/css3/background-clip";

$tile_borders: rhythm(0.5, $base-font-size);
.tilelist {
  vertical-align: top;

  text-align: center;
  display: inline-block;

  .tile {
    display: inline-block;
    overflow: hidden;
    margin: $tile_borders 1%;
    vertical-align: top;
    border: 1px solid $postlist_border;

    @include border-radius(2*$tile_borders);

    img {
      @include border-top-radius(2*$tile_borders);
    }
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);

    text-align: left;
    position: relative;
  }

  .text {
    padding: 0 $tile_borders $tile_borders 2*$tile_borders;
  }

  .post {
    padding-bottom: rhythm(1, $base-font-size);
    cursor: pointer;

    &:hover:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      @include border-radius(2*$tile_borders);
    }

    & * {
      pointer-events: none;
    }

    figure {
      max-width: 100%;
      img {
        width: 100%;
        height: rhythm(10, $base-font-size);
      }
    }

    .text figure {
      display: none;
    }

    .postlink {
      text-align: center;
      background-color: $p_very_light;
      width: 100%;
      position: absolute;
      bottom: 0;
      @include border-bottom-radius(2*$tile_borders);
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
    }
  }

  .cloud {
    padding: $tile_borders;
    width: 95%;
  }
}

.categories {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  .tile {
    display: block;
  }
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li a {
    background-color: $p_very_light;
    display: block;
    width: 100%;
    @include border-top-radius(2*$tile_borders);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
    padding-left: 1em;
  }

  li li {
    border: 1px solid $postlist_border;
    padding: 0.5em 0 0 10%;
    text-indent: -10%;
    a {
      background-color: transparent;
      @include border-top-radius(0);
      box-shadow: none;
      width: 90%;
    }
  }
  li li:hover {
    background-color: $postlist_border;
  }
}

$local_max_content: 1600px;
.content {
  max-width: $local_max_content;
}

@media screen and (max-width: #{$local_max_content}) {
  .content {
    margin: 0 2%;
  }
}

@media screen and (min-width: #{$local_max_content}) {
  .content {
    margin: 0 auto;
  }
}
.post {
  width: 30%
}
/*small screen*/
@media screen and (max-width: rhythm(60, $base-font-size)) {
  .post {
    width: 45%;
  }
}
/*very small screen*/
@media screen and (max-width: rhythm(50, $base-font-size)) {
  .content {
    margin: 0 1ex;
  }
  .post {
    width: 100%;
  }
  .tile {
    margin: $tile_borders 0;
  }
  .categories {
    display: none;
  }
}
