@import "compass/css3/background-clip";

.tilelist {
  $tile_borders: rhythm(0.5, $base-font-size);

  text-align: center;
  display: inline-block;

  .tile {
    display: inline-block;
    overflow: hidden;
    margin: $tile_borders 1%;
    vertical-align: top;
    border: 1px solid $postlist_border;

      @include border-radius(2*$tile_borders);

      img {
        @include border-radius(2*$tile_borders);
      } 
  }

  .post {
    width: 30%;
    text-align: left;
    position: relative;
    padding-bottom: rhythm(1, $base-font-size);
    cursor: pointer;

    &:hover:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
      @include border-radius(2*$tile_borders);
    }

    & * {
      pointer-events: none;
    }

    figure {
      max-width: 100%;
      img {
        width: 100%;
        height: rhythm(10, $base-font-size);
      }
    }

    .text {
      padding: 0 $tile_borders $tile_borders 2*$tile_borders;
      figure {
        display: none;
      }
    }

    .postlink {
      text-align: center;
      background-color: $p_very_light;
      width: 100%;
      position: absolute;
      bottom: 0;
      @include border-bottom-radius(2*$tile_borders);
    }
  }

  .cloud {
    padding: $tile_borders;
    width: 95%;
  }

  /*large screen*/
  @media screen and (min-width: rhythm(60, $base-font-size)) {

  }
  /*small screen*/
  @media screen and (max-width: rhythm(60, $base-font-size)) {
    .post {
      width: 45%;
    }
  }

  /*very small screen*/
  @media screen and (max-width: rhythm(40, $base-font-size)) {
    .post {
      width: 100%;
    }
    .tile {
      margin: $tile_borders 0;
    }
  }
}

$local_max_content: 1550px;
.content {
  max-width: $local_max_content;
}

@media screen and (max-width: #{$local_max_content}) {
  .content {
    margin: 0 2%;
  }
}

@media screen and (min-width: #{$local_max_content}) {
  .content {
    margin: 0 auto;
  }
}

@media screen and (max-width: rhythm(50, $base-font-size)) {
  .content {
    margin: 0 1ex;
  }
  .post {
    width: 100%;
  }
}
