.postslist_wrapper {
  text-align: center;
}

/*some computer monitor*/
.postslist {
  $local_borders: rhythm(0.5, $base-font-size);

  position: relative;

  @include experimental(box-sizing, border-box);
  background-image: linear-gradient(0deg, $postlist_border $local_borders, $postlist_tile_bg $local_borders, $postlist_tile_bg 99%);
  background-image: -moz-linear-gradient(0deg, $postlist_border $local_borders, $postlist_tile_bg $local_borders, $postlist_tile_bg 99%);
  background-image: -webkit-linear-gradient(0deg, $postlist_border $local_borders, $postlist_tile_bg $local_borders, $postlist_tile_bg 99%);
  border-bottom: $local_borders solid $postlist_border;
  border-right: $local_borders solid $postlist_border;
  box-shadow: 0px 0px 0.5*$local_borders shade($postlist_border, 10%);
  border-radius: 0.5*$local_borders;

  margin: 0.5*$local_borders;

  figure {
    text-align: center;
    float: none;
    margin: 0;
  }

  .post {

    margin: 0;
    text-align: left;
    vertical-align: top;
    @include experimental(box-sizing, border-box);
    padding: 2*$local_borders $local_borders $local_borders 2*$local_borders;
  }
  .post .text {
    vertical-align: top;
  }

  @mixin before_post($children) {
    .post:nth-child(#{$children}n+1):before {
      content: '';
      position: absolute;
      margin-top: (-2*$local_borders);
      display: block;
      left: 0;
      right: -$local_borders;
      border-top: $local_borders solid $postlist_border;
      border-radius: 0.5*$local_borders;
    }
  }

  /*computer*/
  @media screen and (min-width: 1024px) {
    background-size: 33.3334% 100px;

    .postlist_layout {
      font-size: 0;
    }
    .post {
      @include establish-baseline;
      display: inline-block;
      width: 33.3334%;
    }
    @include before_post(3);
  }

  /*smaller than computer*/
  @media screen and (max-width: 1024px) {
    background-size: 100% 100px;
    figure {
      max-height: rhythm(10, $base-font-size);
      display: inline-block;
    }
    .post {
      display: block;
    }
    .post .text {
      display: inline-block;
      padding-left: 1%;
    }
    @include before_post(1);
  }
}

/*very large monitor*/
@media screen and (min-width: 1800px) {
  body {
    @include adjust-font-size-to(1.5*$base-font-size);
  }
  .content {
    margin: 0 10%;
  }
}

/*regular monitor*/
@media screen and (min-width: 1024px) and (max-width: 1800px) {
  body {
    @include adjust-font-size-to($base-font-size);
  }
  .content {
    margin: 0 2%;
  }
}

/*Tablet*/
@media screen and (min-width: 800px) and (max-width: 1024px) {
  body {
    @include adjust-font-size-to(14px);
  }
  .content {
    margin: 0 2%;
  }
  .postslist figure img {
    width: rhythm(10, $base-font-size);
    height: rhythm(10, $base-font-size);
  }
  .post .text {
    width: 70%;
  }
}

/*phone*/
@media screen and (max-width: 800px) {
  body {
    @include adjust-font-size-to(12px);
  }
  #{headings(2, 6)},
  #{nest(headings(2, 6), a)} {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }
  .content {
    margin: 0 1%;
  }
  figure {
    margin: 0;
  }
  .postslist figure img {
    width: rhythm(3, $base-font-size);
    height: rhythm(3, $base-font-size);
  }
  .post .text {
    width: 80%;
  }
  img {
    width: 800px;
    max-width: 100%;
  }
  .excerpt {
    display: none;
  }
}
