/*typography*/
#{headings()} {
  text-decoration: none;
  font-weight: normal;
}

/*vertical rhythm*/
@import "compass/typography/vertical_rhythm";
$base-font-size: 21px;
$base-line-height: 26px;
$relative-font-sizing: true;
@include establish-baseline;

.baseline {
  background-image: linear-gradient(hsla(200, 100%, 70%, .5) 1px, transparent 1px);
  background-size: auto $base-line-height;
}

@mixin font($relation, $top: 1, $bottom: 1) {
  $px: $relation * $base-font-size;
  @include adjust-font-size-to($px);
  @include rhythm($top, 0, 0, $bottom, $px);
}

h1 {
  @include font(2.5, 0, 0);
  text-align: center;
}

h2 {
  @include font(1.618, 0, 0);
  text-align: center;
}

h3 {
  @include font(1.5, 0, 0);
}

h4 {
  @include font(1.4, 0, 0);
  text-align: center;
}

h6 {
  @include font(1, 0, 0);
  text-align: center;
}

p, blockquote, ul, pre {
  @include font(1, 0);
  font-size: 1rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  font-weight: 600;
}

hr {
  margin: -1px;
}

small, .pagination, figcaption, .date {
  @include font(0.8, 0);
}

.date {
  text-align: center;
  font-style: italic;
}

ol, ul {
  margin-left: 1em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;

  @include trailer(0.5, $base-line-height, margin);
  @include leader(0.5, $base-line-height, margin);
  @include trailer(0.5, $base-line-height, padding);
  @include leader(0.5, $base-line-height, padding);

  padding-left: 1em;
  padding-right: 1em;

  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


pre {
  counter-reset: line-numbering;
  border: solid 1px #eee;

  @include trailer(0.5, $base-line-height, margin);
  @include leader(0.5, $base-line-height, margin);

  white-space: pre;
  overflow-x: auto;
  overflow-y:hidden;
  word-break: inherit;
  word-wrap: inherit;
}

code a::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em; /* space after numbers */
  width: 25px;
  text-align: right;
  opacity: 0.6;
  display: inline-block;
  color: #aaa;
  background: #eee;
  margin-right: 16px;
  padding: 2px 10px;
  font-size: 70%;
  border-right: 1px solid #dedede;

  @include experimental(touch-callout, none);
  @include experimental(user-select, none);
}

code a:first-of-type::before {
  @include leader(0.5, $base-line-height, padding);
}

code a:last-of-type::before {
  @include trailer(0.5, $base-line-height, padding);
}

code a:only-of-type::before {
  @include trailer(0.5, $base-line-height, padding);
  @include leader(0.5, $base-line-height, padding);
}

code.inline-code {
  background: #eee;
}
